# For name generation.
faker==18.5.1

# [code_style]-[BEGIN]
# Pre-commit hook.
pre-commit==3.2.2
# Upgrade syntax.
pyupgrade==3.3.2
# Formatter. Apply codestyle.
black==23.3.0
# Check codestyle.
flake8==6.0.0
# Removes unused imports and unused variables.
autoflake==2.1.1
# [code_style]-[END]

# For making requests.
requests==2.28.2

aiohttp[speedups]==3.8.4

beautifulsoup4==4.12.2
# Selenium.
# Pupeeter.

# For system monitoring.
psutil==5.9.5

pydantic[dotenv]==1.10.7
